<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <style>
        .sidebar {
            min-height: calc(100vh - 56px);
        }
    </style>
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text text-white">
        <strong th:text="${#authentication.name}"></strong>
        with roles:
        <span th:text="${#authentication.authorities}"></span>
    </span>

    <form th:action="@{/logout}"
          method="post"
          class="form-inline m-0">

        <button type="submit"
                class="btn btn-link text-secondary nav-link p-0">
            Logout
        </button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">

        <nav class="col-md-2 d-none d-md-block bg-white sidebar px-0 pt-3">

            <div class="nav flex-column nav-pills">

                <a class="nav-link active rounded-0 pl-3"
                   th:href="@{/admin}">
                    Admin
                </a>

                <a class="nav-link rounded-0 pl-3"
                   th:href="@{/user}">
                    User
                </a>

            </div>
        </nav>

        <main role="main"
              class="col-md-10 ml-sm-auto px-4 bg-light pt-3">

            <h1 class="h2">Admin panel</h1>

            <ul class="nav nav-tabs"
                id="adminTab"
                role="tablist">

                <li class="nav-item">

                    <a class="nav-link active"
                       id="users-tab"
                       data-toggle="tab"
                       href="#users-table"
                       role="tab">
                        Users table
                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       id="new-user-tab"
                       data-toggle="tab"
                       href="#new-user"
                       role="tab">
                        New User
                    </a>

                </li>

            </ul>

            <div class="tab-content"
                 id="adminTabContent">

                <!-- USERS TABLE -->

                <div class="tab-pane fade show active border border-top-0 bg-white"
                     id="users-table"
                     role="tabpanel">

                    <div class="bg-light p-3 border-bottom">

                        <h5 class="m-0 font-weight-bold">
                            All users
                        </h5>

                    </div>

                    <div class="p-3">

                        <table class="table table-striped">

                            <thead>

                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>

                            </thead>

                            <tbody>

                            <tr th:each="user : ${users}">

                                <td th:text="${user.id}"></td>

                                <td th:text="${user.name}"></td>

                                <td th:text="${user.lastName}"></td>

                                <td th:text="${user.age}"></td>

                                <td th:text="${user.email}"></td>

                                <td>
                                    <span th:each="role : ${user.roles}"
                                          th:text="${role} + ' '">
                                    </span>
                                </td>

                                <td>

                                    <button type="button"
                                            class="btn btn-info"
                                            data-toggle="modal"
                                            th:data-target="'#editModal' + ${user.id}">
                                        Edit
                                    </button>

                                </td>

                                <td>

                                    <button type="button"
                                            class="btn btn-danger"
                                            data-toggle="modal"
                                            th:data-target="'#deleteModal' + ${user.id}">
                                        Delete
                                    </button>

                                </td>

                            </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

                <!-- NEW USER -->

                <div class="tab-pane fade border border-top-0 bg-white"
                     id="new-user"
                     role="tabpanel">

                    <div class="bg-light p-3 border-bottom">

                        <h5 class="m-0 font-weight-bold">
                            Add new user
                        </h5>

                    </div>

                    <div class="p-4">

                        <form th:action="@{/admin/save}"
                              th:object="${newUser}"
                              method="post"
                              class="col-md-4 offset-md-4 text-center font-weight-bold">

                            <div class="form-group">

                                <label for="newName">
                                    First name
                                </label>

                                <input type="text"
                                       class="form-control"
                                       id="newName"
                                       th:field="*{name}"
                                       required>

                            </div>

                            <div class="form-group">

                                <label for="newLastName">
                                    Last name
                                </label>

                                <input type="text"
                                       class="form-control"
                                       id="newLastName"
                                       th:field="*{lastName}"
                                       required>

                            </div>

                            <div class="form-group">

                                <label for="newAge">
                                    Age
                                </label>

                                <input type="number"
                                       class="form-control"
                                       id="newAge"
                                       th:field="*{age}">

                            </div>

                            <div class="form-group">

                                <label for="newEmail">
                                    Email
                                </label>

                                <input type="email"
                                       class="form-control"
                                       id="newEmail"
                                       th:field="*{email}"
                                       required>

                            </div>

                            <div class="form-group">

                                <label for="newPassword">
                                    Password
                                </label>

                                <input type="password"
                                       class="form-control"
                                       id="newPassword"
                                       th:field="*{password}"
                                       required>

                            </div>

                            <div class="form-group">

                                <label for="newUserRoles">
                                    Role
                                </label>

                                <select multiple
                                        class="form-control"
                                        id="newUserRoles"
                                        th:field="*{roles}"
                                        size="2"
                                        required>

                                    <option th:each="role : ${roles}"
                                            th:value="${role.id}"
                                            th:text="${role.name}">
                                    </option>

                                </select>

                            </div>

                            <button type="submit"
                                    class="btn btn-success btn-lg">
                                Add new user
                            </button>

                        </form>

                    </div>

                </div>

            </div>

        </main>

    </div>
</div>


<!-- EDIT MODALS -->

<div th:each="user : ${users}"
     class="modal fade"
     th:id="'editModal' + ${user.id}"
     tabindex="-1"
     role="dialog">

    <div class="modal-dialog modal-dialog-centered"
         role="document">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title font-weight-bold">
                    Edit user
                </h5>

                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    &times;
                </button>

            </div>

            <form th:action="@{/admin/update}"
                  method="post">

                <div class="modal-body text-center font-weight-bold col-md-8 offset-md-2">

                    <input type="hidden"
                           name="id"
                           th:value="${user.id}">

                    <div class="form-group">

                        <label>ID</label>

                        <input type="text"
                               class="form-control"
                               th:value="${user.id}"
                               disabled>

                    </div>

                    <div class="form-group">

                        <label>First name</label>

                        <input type="text"
                               class="form-control"
                               name="name"
                               th:value="${user.name}"
                               required>

                    </div>

                    <div class="form-group">

                        <label>Last name</label>

                        <input type="text"
                               class="form-control"
                               name="lastName"
                               th:value="${user.lastName}"
                               required>

                    </div>

                    <div class="form-group">

                        <label>Age</label>

                        <input type="number"
                               class="form-control"
                               name="age"
                               th:value="${user.age}">

                    </div>

                    <div class="form-group">

                        <label>Email</label>

                        <input type="email"
                               class="form-control"
                               name="email"
                               th:value="${user.email}"
                               required>

                    </div>

                    <div class="form-group">

                        <label>Password</label>

                        <input type="password"
                               class="form-control"
                               name="password"
                               placeholder="New password">

                    </div>

                    <div class="form-group">

                        <label>Role</label>

                        <select multiple
                                class="form-control"
                                name="roles"
                                size="2">

                            <option th:each="role : ${roles}"
                                    th:value="${role.id}"
                                    th:text="${role.name}"
                                    th:selected="${user.roles.contains(role)}">
                            </option>

                        </select>

                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>

                    <button type="submit"
                            class="btn btn-primary">
                        Edit
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>


<!-- DELETE MODALS -->

<div th:each="user : ${users}"
     class="modal fade"
     th:id="'deleteModal' + ${user.id}"
     tabindex="-1"
     role="dialog">

    <div class="modal-dialog modal-dialog-centered"
         role="document">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title font-weight-bold">
                    Delete user
                </h5>

                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    &times;
                </button>

            </div>

            <form th:action="@{/admin/delete}"
                  method="post">

                <div class="modal-body text-center font-weight-bold col-md-8 offset-md-2">

                    <input type="hidden"
                           name="id"
                           th:value="${user.id}">

                    <div class="form-group">

                        <label>ID</label>

                        <input type="text"
                               class="form-control"
                               th:value="${user.id}"
                               disabled>

                    </div>

                    <div class="form-group">

                        <label>First name</label>

                        <input type="text"
                               class="form-control"
                               th:value="${user.name}"
                               disabled>

                    </div>

                    <div class="form-group">

                        <label>Last name</label>

                        <input type="text"
                               class="form-control"
                               th:value="${user.lastName}"
                               disabled>

                    </div>

                    <div class="form-group">

                        <label>Age</label>

                        <input type="number"
                               class="form-control"
                               th:value="${user.age}"
                               disabled>

                    </div>

                    <div class="form-group">

                        <label>Email</label>

                        <input type="email"
                               class="form-control"
                               th:value="${user.email}"
                               disabled>

                    </div>

                    <div class="form-group">

                        <label>Role</label>

                        <select multiple
                                class="form-control"
                                size="2"
                                disabled>

                            <option th:each="role : ${user.roles}"
                                    th:text="${role.name}">
                            </option>

                        </select>

                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>

                    <button type="submit"
                            class="btn btn-danger">
                        Delete
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>